#sock-configurator{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 20px auto;
}

#sock-configurator h3{
    text-align: center;
    color: #333;
}

label{
    display: block;
    margin-bottom: 10px;
    color: #555;
}

select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox" i] {
    margin-right: 10px;
}